<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="/logo final clear bg.png">

    <link rel="stylesheet" href="/assets/css/style.css">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="/">OSAB Documentation</a></h1>
        <img src="/logo final clear bg.png" alt="Logo" />
        <p>Documentation for the Open Source Autonomous Boat project.</p>
        
<!--         <ul class="nav">
          <li class="navitem"><a href="https://docs.osab.xyz/">Home</a></li><br>
          <li class="navitem"><a href="https://docs.osab.xyz/about">About</a></li><br>
          <li class="navitem"><a href="https://docs.osab.xyz/funding">Funding</a></li><br>
        </ul> -->
        
          <p class="tree"> 
            .<br>
            ├── <a href="https://docs.osab.xyz/">Home</a><br>
            ├── <a href="https://docs.osab.xyz/about">About</a><br>
            ├── <a href="https://docs.osab.xyz/funding">Funding</a><br>
            ├── <a href="https://docs.osab.xyz/vessels">Vessels</a><br>
            │   ├── <a href="https://docs.osab.xyz/vessels/miine">IRV Miine</a><br>
            │   └── <a href="https://docs.osab.xyz/vessels/oceanum">IRV Oceanum</a><br>
            ├── <a href="https://docs.osab.xyz/">Software</a><br>
            │   ├── <a href="https://docs.osab.xyz/">Remote Command Station</a><br>
            │   └── <a href="https://docs.osab.xyz/">foo software</a><br>
            ├── <a href="https://docs.osab.xyz/">foo</a><br>
            │   └── <a href="https://docs.osab.xyz/">foo</a><br>
            ├── <a href="https://docs.osab.xyz/">foo</a><br>
            └── <a href="https://docs.osab.xyz/">foo</a><br>
          </p>
        
        <p class="view"><a href="https://osab.xyz/">Visit our website <small>osab.xyz</small></a></p>
        <p class="view"><a href="https://discord.gg/C5H9EE7Rp3">Talk to us on Discord <small>discord.gg/C5H9EE7Rp3</small></a></p>
        <p class="view"><a href="https://github.com/Open-Source-Autonomous-Boat/">View OSAB on GitHub <small>Open-Source-Autonomous-Boat</small></a></p>
        <p>This project is maintained by the <a href="https://github.com/Open-Source-Autonomous-Boat/">Open-Source-Autonomous-Boat</a> team</p>
        
      </header>
      
      <section>
        {{ content }}
      </section>
      
    </div>
    
  </body>
</html>
